* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
header button {
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
    height: 55px;
    width: 10%;
    position: relative;
    right: -1200px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    border: none;
}
header button:hover {
    background-color: #a80d41;
    text-decoration: none;
}
#header a {
    text-decoration: none;
    color: #ffffff;
}
#portfolio {
    position: fixed;
    top: 0;
    left: 0;
}
.img img {
    width: 51%;
}
main {
    padding-top: 200px;
}
body > main > section > div.row > div:nth-child(2) {
    padding-right: 200px;
}
body > main > section > div.row {
    padding-left: 120px;
}
.intro h5 {
    color: #a80d41;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.intro h1 {
    color: #b31f50;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    line-height: 65px;
    font-weight: bolder;
    letter-spacing: -3.6px;
}
.summary h3 {
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
}
.summary p {
    color: #656565;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}
.info-container {
    padding-top: 100px;
}
.work h1 {
    color: #b31f50;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2.1px;
}
.work h3 {
    color: #a80d41;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
}
.work h2 {
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
}
.work p {
    color: #656565;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}
.skills-container {
    padding-top: 100px;
}
.skills-container h1 {
    color: #b31f50;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2.1px;
}
.skills-container span {
    color: #a80d41;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: 300;
}
.html {
    padding-left: 625px;
}
.css {
    padding-left: 635px;
}
.bootstrap {
    padding-left: 575px;
}
.qualifications {
    padding-top: 100px;
}
.qualifications h1 {
    color: #b31f50;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2.1px;
}
.qualifications h3 {
    color: #a80d41;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
}
.qualifications h2 {
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
}
.qualifications p {
    color: #656565;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}
.image-container {
    padding-top: 100px;
}
.image-container h1 {
    color: #b31f50;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2.1px;
}
.image-container img {
    height: 200px;
}
.image-container .card {
    height: 200px;
    width: 200px;
}
.image-container .row {
    margin-bottom: 50px;
}
.inf h1 {
    color: #b31f50;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2.1px; 
    padding-bottom: 20px;
}
.coninfo {
    display: flex;
}
.coninfo a {
    text-decoration: none;
    color: #656565;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}
.message {
    padding-bottom: 70px;
}
.message h1 {
    color: #b31f50;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2.1px; 
    padding-bottom: 20px;
}
.form-control:valid{
    background-color: #e6dbdb;
}
#email {
    background-color: #e6dbdb;
}
.message button{
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
    height: 55px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    border: none;
}
.message button:hover {
    background-color: #a80d41;
    text-decoration: none;
}
.message a {
    text-decoration: none;
    color: #ffffff;
}
footer {
    background-color: #e6dbdb;
    text-align: center;  
    margin-top: 0px;
    padding: 40px 0px 40px 45%;
    width: 90%
}
.rights p { 
    padding-top: 30px;
    color:#656565;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.rights a {
    text-decoration: none;
    color:#656565;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
@media (min-width: 481px) and (max-width: 768px) {
    main {
        padding-top: 0;
    }
    header button {
        display: none;
    }
    #portfolio {
        position: static;
    }
    #portfolio img {
        width: 101.5%;
        height: auto;
        right: 0;
    }
    .intro h5 {
        padding-top: 50px;
    }
    .intro h1 {
        font-size: 40px;
        line-height: 43px;
    }
    .summary h3 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .summary p {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }
    .info-container {
        padding-top: 50px;
    }
    .work h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .work h3 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .work h2 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .work p {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }
    .skills-container {
        padding-top: 50px;
    }
    .skills {
        padding-right: 100px;
    }
    .skills-container h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .skills-container span {
        font-size: 12px;
        line-height: 23px;
        font-weight: 300;
    }
    .html {
        padding-left: 180px;
    }
    .css {
        padding-left: 185px;
    }
    .bootstrap {
        padding-left: 145px;
    }
    .qualifications {
        padding-top: 50px;
    }
    .qualifications h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .qualifications h3 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .qualifications h2 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .qualifications p {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }    
    .image-container {
        padding-top: 50px;
    }
    .image-container h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .image-container img {
        height: 100px;
    }
    .image-container .card {
        height: 100px;
        width: 100px;
    }
    .coninfo {
        display: grid;
    }
    }.coninfo a {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }
    .message {
        padding-bottom: 50px;
    }
    .message h1 {
        font-size: 30px;
        line-height: 44px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    form .row {
        display: grid;
    }
    body > main > section > div.row > div.col-lg-8.col-md-10.col-sm-10 > div.skills-container > section:nth-child(6) > div > div.form-group > form > div.row > div:nth-child(1) {
        padding-bottom: 30px;
    }
    .form-control:valid {
        font-size: small;
    }
    #email {
        font-size: small;
    }
    .message button {
        height: 50px;
        width: 200px;
        font-size: 13px;
        font-weight: bold;
        margin-top: 20px;
        border: none;
    }
    footer {
        width: 87%;
    }
@media (min-width: 320px) and (max-width: 480px) {
    main {
        padding-top: 0;
    }
    header button {
        display: none;
    }
    #portfolio {
        position: static;
    }
    #portfolio img {
        width: 250%;
        height: auto;
        right: 0;
    }
    main .row {
        width: 850px;
    }
    .info-container {
        padding-top: 20px;
    }
    .intro h5 {
        padding-top: 50px;
    }
    .intro h5 {
        padding-top: 50px;
    }
    .intro h1 {
        font-size: 40px;
        line-height: 43px;
        padding-right: 20px;
    }
    .summary h3 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .summary p {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }
    .info-container {
        padding-top: 20px;
    }
    .work h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .work h3 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .work h2 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .work p {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }
    .skills-container {
        padding-top: 20px;
    }
    .skills {
        padding-right: 250px;
    }
    .skills-container h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .skills-container span {
        font-size: 12px;
        line-height: 23px;
        font-weight: 300;
    }
    .html {
        padding-left: 200px;
    }
    .css {
        padding-left: 205px;
    }
    .bootstrap {
        padding-left: 165px;
    }
    .qualifications {
        padding-top: 20px;
    }
    .qualifications h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .qualifications h3 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .qualifications h2 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    .qualifications p {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }    
    .image-container {
        padding-top: 20px;
    }
    .image-container-row {
        display: flex;
    }
    .image-container .card {
        margin-bottom: 40px;
    }
    .image-container h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }
    .image-container img {
        height: 120px;
    }
    .image-container .card {
        height: 120px;
        width: 120px;
    }
    .coninfo {
        display: grid;
    }
    .coninfo a {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }
    .message {
        padding-bottom: 20px;
    }
    .message h1 {
        font-size: 30px;
        line-height: 44px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    form .row {
        display: grid;
        padding-right: 400px;
    }
    .form-group {
        padding-right: 100px;
    }
    body > main > section > div.row > div.col-lg-8.col-md-10.col-sm-10 > div.skills-container > section:nth-child(6) > div > div.form-group > form > div.row > div:nth-child(1) {
        padding-bottom: 30px;
    }
    .form-control:valid {
        font-size: small;
    }
    #email {
        font-size: small;
    }
    .message button {
        height: 50px;
        width: 120px;
        font-size: 11px;
        font-weight: bold;
        margin-top: 20px;
        border: none;
    }
    footer {
        width: 250% !important;
    }
}